<div class="content-section">
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="product-item-1">
                <div class="product-thumb">
                    <img src="images/cat/i2.png" alt="Product Title">
                </div> <!-- /.product-thumb -->
                <div class="product-content">
                    <h5><a href="<%= detail_path %>">Chaton Mignon</a></h5>
                    <span class="tagline">Pic by Anir</span>
                    <span class="price">$25.00</span>
                    <p>Doloremque quo possimus quas necessitatibus blanditiis excepturi. Commodi, sunt asperiores tenetur deleniti labore!</p>
                </div> <!-- /.product-content -->
            </div> <!-- /.product-item -->
        </div> <!-- /.col-md-3 -->
        <div class="col-md-5">
            <div class="product-holder">
                <div class="product-item-2">
                    <div class="product-thumb">
                        <img src="images/cat/fonds-ecran-chat-1.jpg" alt="Product Title">
                    </div> <!-- /.product-thumb -->
                    <div class="product-content overlay">
                        <h5><a href="<%= detail_path %>">Kitty Pic</a></h5>
                        <span class="tagline">Pic by Sayna</span>
                        <span class="price">$30.00</span>
                        <p>Doloremque quo possimus quas necessitatibus blanditiis excepturi. Commodi, sunt tenetur deleniti labore!</p>
                    </div> <!-- /.product-content -->
                </div> <!-- /.product-item-2 -->
                <div class="product-item-2">
                    <div class="product-thumb">
                        <img src="images/cat/header-bg.png" alt="Product Title">
                    </div> <!-- /.product-thumb -->
                    <div class="product-content overlay">
                        <h5><a href="<%= detail_path %>">Saka Kely</a></h5>
                        <span class="tagline">Pic by Zay</span>
                        <span class="price">$45.00</span>
                        <p>Doloremque quo possimus quas necessitatibus blanditiis excepturi. Commodi, sunt tenetur deleniti labore!</p>
                    </div> <!-- /.product-content -->
                </div> <!-- /.product-item-2 -->
                <div class="clearfix"></div>
            </div> <!-- /.product-holder -->
        </div> <!-- /.col-md-5 -->
        <div class="col-md-4">
            <div class="product-item-3">
                <div class="product-thumb">
                    <img src="images/cat/i4.png" alt="">
                </div> <!-- /.product-thumb -->
                <div class="product-content">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h5><a href="<%= detail_path %>">Minou</a></h5>
                            <span class="tagline">Pika Sary</span>
                            <span class="price">$20.00</span>
                        </div> <!-- /.col-md-6 -->
                    </div> <!-- /.row -->
                </div> <!-- /.product-content -->
            </div> <!-- /.product-item-3 -->
        </div> <!-- /.col-md-4 -->
    </div> <!-- /.row -->
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="product-item-4">
                <div class="product-thumb">
                    <img src="images/cat/i3.png" alt="Product Title">
                </div> <!-- /.product-thumb -->
                <div class="product-content overlay">
                    <h5><a href="<%= detail_path %>">Saka kely roa</a></h5>
                    <span class="tagline">pic</span>
                    <span class="price">$60.00</span>
                    <p>Doloremque quo possimus quas necessitatibus.</p>
                </div> <!-- /.product-content -->
            </div> <!-- /.product-item-4 -->
        </div> <!-- /.col-md-4 -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="product-item-4">
                <div class="product-thumb">
                    <img src="images/cat/cat-green-eyes-4k-i8-1336x768.jpg" alt="Product Title">
                </div> <!-- /.product-thumb -->
                <div class="product-content overlay">
                    <h5><a href="<%= detail_path %>">Adalaaaaa</a></h5>
                    <span class="tagline">Psd</span>
                    <span class="price">$30.00</span>
                    <p>Doloremque quo possimus quas necessitatibus.</p>
                </div> <!-- /.product-content -->
            </div> <!-- /.product-item-4 -->
        </div> <!-- /.col-md-4 -->
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="ads-placemenet">
                <img src="images/cat/user01.png" alt="">
            </div> <!-- /.ads-placement -->
        </div> <!-- /.col-md-4 -->
    </div> <!-- /.row -->
</div> <!-- /.container -->
</div> <!-- /.content-section -->